<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130195634848-gg81n6p0q9qaqeaco7hmusug3ireo4oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130195634848-gg81n6p0q9qaqeaco7hmusug3ireo4oh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>130195634848-dv1gn3hab07ac3uma5le594tcved8ce2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcaMBrNDrbPMN6ki6wkbMcmQmtOeDiNvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>130195634848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myTestGame.CloneTsumu</string>
	<key>PROJECT_ID</key>
	<string>clonetsumu</string>
	<key>STORAGE_BUCKET</key>
	<string>clonetsumu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130195634848:ios:208b7ca1ac6d36e90667c5</string>
	<key>DATABASE_URL</key>
	<string>https://clonetsumu-default-rtdb.firebaseio.com</string>
</dict>
</plist>